.App {
  font-family: sans-serif;
  text-align: center;
  /* background-color: #707070 */
}

.HeaderImg{
  margin-top: 10px;
  margin-left: 20px;
  }

.wrap{
    width: 1200px; margin: 0 auto;
}

h1.yellow{color: #ffd61a;}
/* 一般設定 */
ul{
  list-style: none;
}
h1{padding-top: 60px;
  padding-bottom: 30px;
font-size: 24px;
text-align: center;
font-weight: bold;}

h2{
padding-bottom: 60px;
text-align: center;}

h3{font-weight: bold;
  padding-bottom: 40px;
}

p{
  font-size: 16px;
  color: #222222;
  line-height: normal;    
}

.mainvisual{
  width: 100%;
  height: 450px;
  background: url(./img/mainbg.png) no-repeat center center;
  background-size: cover;
}

/* about全体 */
.about{text-align: center;}

/* ABOUT おわり */

/* COURSEスタート */

/* COURSEコンテンツ 1*/


.textboxA{
  padding-left: 50px;
  vertical-align: middle;
}
.textboxB{
  width: 100%;
  margin: 0 0 0 auto;
  padding-left: 20px;
  border-right: 0;
}

/* COURSEコンテンツ 写真右*/

/* NEWS */
.newsContent {
  display: flex;
  justify-content: center;
}

.news1 {
  width: 300px;
  margin: 0 30px;
}

.newsDate {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 24px;
}

/* ボタン */

button{
  text-align: center;
  height: 60px;
  width: 300px;
  font-size: 18px;
  background-color: #ffd61a;
  color: white;
  border-color: transparent;
}


/* MOREボタン */

.newsMore {
  margin: 60px 0 0;
  text-align: center;
}
/* ACCESS */

iframe {
  width: 100%;
}

.accessInfo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

table th, td {
  text-align: left;
  padding:15px 50px;
}

/* CONTACT */

.contact {
  text-align: center;
}

p.contactText2 {
  padding-top: 60px;
  padding-bottom: 30px;
}

.formTable {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.formTable th {
  width: 240px;
  padding: 8px 64px 8px 16px;
}

.formTable td {
  width: 400px;
  padding: 8px;
}

.inputText {
  width: 328px;
  height: 36px;
  border: solid 1px #bfbfbf;
}

select {
  font-size: 16px;
  height: 36px;
  padding: 8px;
  border: solid 1px #bfbfbf;
}

.formCkbox {
  padding: 24px 0px 24px 0px;
  font-size: 16px;
}

label {
  padding: 6px;
}

.submit {
  padding-bottom: 140px;
}

.footer{
  background-color: #707070;
}
.footerText {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

p.footerText{
  color: white;
}

.footer p {
  color: white;
}
